# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Django
*.log
local_settings.py


# Environment variables
.env

# Data & Media
*.csv

# VS Code
.vscode/
trading_bot.log
